.contact-section {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../../public/commentimage.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usercoment {
  width: 100%;
  max-width: 600px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.header {
  color: green;
}

input, button, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"], input[type="email"], textarea {
  border: 1px solid #ccc;
}

button {
  background-color: greenyellow;
  border: none;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
}

textarea {
  height: 150px; 
  resize: vertical; 
}

@media (max-width: 768px) {
  .container, .usercoment {
      width: 100%;
      max-width: 100%;
  }
}

@media (max-width: 480px) {
  body {
      padding: 10px;
  }

  .container, .usercoment {
      padding: 15px;
  }

  input, button, textarea {
      padding: 8px;
  }
}

.thank-you-message {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
