.how-it-works-section {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../../public/weatherimage.jpg');
  background-size: cover;
  background-position: center;
  
  min-height: 100vh;
}
